CARIUSB Video Gen2 (27).json
{
  "name": "CARIUSB Video Gen2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e92c8ced-dccc-49e8-8ead-f2ee34e14196",
              "name": "body.metadata.jobId",
              "value": "={{ $json.body.metadata.job_id }}",
              "type": "string"
            },
            {
              "id": "4da97751-0e32-4726-b2c6-f47d86768fb9",
              "name": "body.metadata.userId",
              "value": "={{ $json.body.metadata.user_id }}",
              "type": "string"
            },
            {
              "id": "09e57a74-b15a-455f-a00c-405c99e70bc7",
              "name": "body.metadata.projectId",
              "value": "={{ $json.body.metadata.project_id }}",
              "type": "string"
            },
            {
              "id": "021ad32a-001d-48e9-b84b-b5276d12bc2b",
              "name": "body.metadata.aspect_ratio",
              "value": "={{ $json.body.metadata.aspect_ratio }}",
              "type": "string"
            },
            {
              "id": "830f80c9-3a7e-484a-8234-4accb915c802",
              "name": "body.sourceImage",
              "value": "={{ $json.body.source_image }}",
              "type": "string"
            },
            {
              "id": "33513f0b-87d0-4ec2-b142-ce965ac8d8ac",
              "name": "body.prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "48053699-9a63-4585-bc0e-ab1486db3c3a",
              "name": "body.duration",
              "value": "={{ $json.body.duration }}",
              "type": "string"
            },
            {
              "id": "aed793b1-1cc6-4456-8a95-05f7373de56b",
              "name": "body.plan",
              "value": "={{ $json.body.plan }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        416
      ],
      "id": "0ea731a3-b0be-48c1-82f2-eb67bd143a50",
      "name": "Request Parse"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=You are a visual analysis model for image-to-video generation.\nDescribe image.",
        "imageUrls": "={{ $json.body.sourceImage }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1408,
        320
      ],
      "id": "76e89881-3973-47ee-9a6c-a7c03a8124ed",
      "name": "Vision Scan",
      "credentials": {
        "openAiApi": {
          "id": "KF4vi4KQZyDxUwo0",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert cinematic video prompt engineer specialized in Kling image-to-video models for AUTOMOTIVE content.\n\nYOUR TASK:\nConvert the user's raw idea into a highly optimized, cinematic, physically realistic car video prompt based strictly on the uploaded image.\n\nUSER INTENTION: {{ $('Request Parse').item.json.body.prompt }}\nIMAGE ANALYSIS (FACTUAL): {{ $json['0'].content[0].text }}\n\n*** ABSOLUTE PRIORITY RULE ***\nIf there is any conflict between user intention and image analysis, ALWAYS prioritize the image analysis.\nThe camera must NEVER change the viewing angle relative to the car (Lock-on).\n\n*** STRICT RULES ***\n1. PRESERVE FRAMING: Do not zoom out to reveal parts of the car or environment not seen in the image. Keep the original crop.\n2. NO HALLUCINATION: Do NOT invent new subjects. If the image has one car, keep exactly one car.\n3. IDENTITY & STYLE: Do not change the car model, color, or modifications. No fantasy, magic, or cartoon styles.\n4. DRIVER SAFETY: If a driver is visible, ensure their face/anatomy is NOT distorted.\n\n*** AUTOMOTIVE MOTION RULES ***\n1. CAMERA: Use \"Locked-on tracking shot\". The car stays relatively static in the frame; the background moves to create speed.\n   - Do NOT use \"Orbital\" or \"Rotation\" (This causes background distortion).\n2. PHYSICS:\n   - Wheels MUST \"spin rapidly\" (blur effect on rims).\n   - Asphalt/Ground MUST move backwards fast (motion blur).\n   - Reflections on the car body MUST flow/glide (this sells the realism).\n\n*** PROMPT CONSTRUCTION ORDER ***\n1. [Subject]: Describe car model/color + status (driving fast).\n2. [Action]: \"Wheels spinning rapidly, road texture moving fast beneath.\"\n3. [Camera]: \"Camera locked to vehicle, maintaining original angle, smooth tracking.\"\n4. [Atmosphere]: \"Cinematic lighting, motion blur on background.\"\n5. [Quality]: \"Automotive photography, 8k, realistic physics.\"\n\n*** NEGATIVE PROMPT GENERATION RULES ***\nGenerate a single string strictly to prevent:\n- Camera rotation (orbit, spin)\n- Car deformation (bad grill, extra wheels, square wheels)\n- Static wheels (sliding without spinning)\n- Human deformation (warped eyes/face if driver is visible)\n- Morphing, flicker, jitter, cartoon, illustration\n- Zooming out beyond original frame\n\n*** CFG SCALE LOGIC ***\n- Strict Range: 0.0 to 1.0.\n- Recommended for Cars: 0.5 to 0.7 (Balances chassis rigidity with background motion).\n\n*** FINAL OUTPUT FORMAT (STRICT JSON) ***\nReturn ONLY this exact JSON structure. No markdown.\n\n{\n\"prompt\": \"FINAL KLING-READY PROMPT HERE\",\n\"negative_prompt\": \"FINAL GENERATED NEGATIVE PROMPT HERE\",\n\"cfg_scale\": 0.6\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1184,
        320
      ],
      "id": "c11e5827-f693-4aef-8ac6-1d3821c75c85",
      "name": "Prompt Engine",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1120,
        544
      ],
      "id": "c33a49a6-486b-4fc6-82f6-c1d5b73767db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KF4vi4KQZyDxUwo0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Request Parse').item.json.body.plan }}",
                    "rightValue": "Draft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f03aaf1f-f0ab-47b2-a965-1ef9ebee22fc"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -624,
        304
      ],
      "id": "d5727bdd-0c52-48c3-99e7-06d28b757be7",
      "name": "Plan Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer aa4fb0156cc2d7d1879aa8492dae55e7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    model: \"kling/v2-5-turbo-image-to-video-pro\",\n    callBackUrl: $execution.resumeUrl,\n    input: {\n      prompt: $json.promptBundle.prompt,\n      image_url: $('Request Parse').item.json.body.sourceImage,\n      duration: $('Request Parse').item.json.body.duration,\n    negative_prompt: $json.promptBundle.negative_prompt,\n      cfg_scale: Math.min(1, Math.max(0, Number($json.promptBundle.cfg_scale))),\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        304
      ],
      "id": "03c6d44d-1d83-4601-8783-7b900a02c9fb",
      "name": "Job Submit",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "MAIN BRANCH",
        "height": 432,
        "width": 2976,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        256
      ],
      "typeVersion": 1,
      "id": "7fb4d3c2-80a0-44d8-a937-76a9286ca27c",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c071dd6-f34c-4ec6-9a0e-d103b33bc4b5",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "9c18b1d5-6fe3-439d-a4cd-c2f5f59b73fd",
              "name": "error.code",
              "value": "=",
              "type": "string"
            },
            {
              "id": "c6b3391e-a3f0-4b75-b69b-d3750f473a43",
              "name": "error.msg",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "26d7fb08-10d7-472b-a7ac-ae575c2d7096",
              "name": "error.taskId",
              "value": "={{ $json.data?.taskId}}",
              "type": "string"
            },
            {
              "id": "c496a03b-e749-40d9-a2c5-f8ea9f8972a9",
              "name": "statusCode",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        432
      ],
      "id": "934a8fea-6d38-4f71-b484-114cc3cc2def",
      "name": "Build Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n   \"success\": false\n}",
        "options": {
          "responseCode": "={{ $json.statusCode || 500 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        448
      ],
      "id": "0aa0489c-0b8a-4896-9c6f-8cee60721667",
      "name": "Webhook Error Out"
    },
    {
      "parameters": {
        "sendTo": "tahamertsen@cariusb.com",
        "subject": "CARIUSB VIDEO ERROR.",
        "message": "ERROR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        272
      ],
      "id": "a7c597f7-43da-40a8-8438-21cae77dd67d",
      "name": "Error Log Mail",
      "webhookId": "baaa8dee-3d72-4b24-8156-c5fd49faaa82",
      "credentials": {
        "gmailOAuth2": {
          "id": "YfP5IILHjzC1Vkim",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "ERROR BRANCH",
        "height": 352,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        256
      ],
      "typeVersion": 1,
      "id": "978a4a2f-b31f-47ab-a74e-a72754effa75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        448
      ],
      "id": "3f06b597-7ea1-45aa-be7d-339dc7558eff",
      "name": "Wait",
      "webhookId": "66304da6-c2f1-4e1b-9c20-f1ddea4a6032",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1856,
        416
      ],
      "id": "f35cbc21-6511-4a90-a3a4-bbf3676a1906",
      "name": "Webhook",
      "webhookId": "df93ab16-f804-4b6e-bf73-5fc3aa4d703a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dAycGUTIuYNDZkmx",
          "name": "CARIUSB SECRET"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// 🔒 PROMPT OUTPUT JSON GUARD\n// ===============================\n\nlet raw = $json.output;\n\n// 1️⃣ Güvenlik: string mi?\nif (typeof raw !== 'string') {\n  throw new Error('Prompt Engine output is not a string');\n}\n\n// 2️⃣ Trim\nraw = raw.trim();\n\n// 3️⃣ JSON parse\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Prompt Engine returned invalid JSON');\n}\n\n// 4️⃣ Schema validation\nif (\n  typeof parsed.prompt !== 'string' ||\n  typeof parsed.negative_prompt !== 'string' ||\n  typeof parsed.cfg_scale !== 'number'\n) {\n  throw new Error('Prompt Engine JSON schema invalid');\n}\n\n// 5️⃣ Clamp cfg\nparsed.cfg_scale = Math.min(1, Math.max(0, parsed.cfg_scale));\n\n// 6️⃣ SINGLE CANONICAL RETURN\nreturn {\n  json: {\n    promptBundle: parsed,\n\n    // 🔒 Canonical passthrough\n    userId: $('Request Parse').item.json.userId,\n    projectId: $('Request Parse').item.json.projectId,\n    plan: $('Request Parse').item.json.plan,\n    duration: $('Request Parse').item.json.duration,\n    sourceImage: $('Request Parse').item.json.sourceImage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        304
      ],
      "id": "b50e9c63-9cf0-4144-b2e0-da54ea516ef3",
      "name": "Normalize Prompt Output"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "jobid",
              "condition": "eq",
              "keyValue": "={{ $json.body.metadata.jobId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1408,
        512
      ],
      "id": "b3a8af41-5b82-497c-a5c1-703687b6f2a3",
      "name": "Update Job",
      "credentials": {
        "supabaseApi": {
          "id": "EfCjgiZu4MblAWv2",
          "name": "CARIUSB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c063d86b-516a-4fcb-8d26-4d3abce7328b",
              "name": "model",
              "value": "={{ $json.body.data.model }}",
              "type": "string"
            },
            {
              "id": "02aafe0e-4273-49d3-b0a2-bc5c24dc8ea3",
              "name": "result_video_url",
              "value": "={{ JSON.parse($json.body.data.resultJson).resultUrls[0] }}",
              "type": "string"
            },
            {
              "id": "c9f263b5-1a69-4025-aa6a-fb68a62c474c",
              "name": "taskId",
              "value": "={{ $json.body.data.taskId }}",
              "type": "string"
            },
            {
              "id": "f47706fe-205a-4e7d-8baf-5bf6e3572cb4",
              "name": "userId",
              "value": "={{ $('Request Parse').item.json.body.metadata.userId }}",
              "type": "string"
            },
            {
              "id": "97c3c65b-f27b-4bec-9ea4-4d5866999292",
              "name": "projectId",
              "value": "={{ $('Request Parse').item.json.body.metadata.projectId }}",
              "type": "string"
            },
            {
              "id": "9cf6b7a9-144d-4611-a4fd-1d36a0c043e7",
              "name": "plan",
              "value": "={{ $('Request Parse').item.json.body.plan }}",
              "type": "string"
            },
            {
              "id": "de68eb6b-4d81-4a54-b8ac-ac3324988300",
              "name": "duration",
              "value": "={{ $('Request Parse').item.json.body.duration }}",
              "type": "string"
            },
            {
              "id": "1257ab70-7642-4abd-a84d-9cebe82ed4ce",
              "name": "sourceImage",
              "value": "={{ $('Request Parse').item.json.body.sourceImage }}",
              "type": "string"
            },
            {
              "id": "2b74162f-291b-43f0-b31b-aefcb418d253",
              "name": "jobId",
              "value": "={{ $('Request Parse').item.json.body.metadata.jobId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        432
      ],
      "id": "96632a7e-f553-4188-ba4a-218136facfc0",
      "name": "Assemble Result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media-gateway-cariusb.tahamertsen.workers.dev/upload/video-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.result_video_url}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        432
      ],
      "id": "030d047a-707e-4fd3-baca-a9c312e19683",
      "name": "Cloudflare Put",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zhfoygasvpjtsngebahn.supabase.co/rest/v1/assets\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $('Assemble Result').item.json.jobId }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Assemble Result').item.json.userId }}"
            },
            {
              "name": "project_id",
              "value": "={{ $('Assemble Result').item.json.projectId }}"
            },
            {
              "name": "plan",
              "value": "={{ $('Assemble Result').item.json.plan }}"
            },
            {
              "name": "url",
              "value": "=https://media-gateway-cariusb.tahamertsen.workers.dev/{{ $json.key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        480
      ],
      "id": "b878b26a-0b77-4573-92fb-df4ceca739bd",
      "name": "Supabase Insert",
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "oPqhkaoAeF2StKUi",
          "name": "CARIUSB Header"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "jobid",
              "condition": "eq",
              "keyValue": "={{ $('Assemble Result').item.json.jobId}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        480
      ],
      "id": "93443a11-9913-4144-9512-01212d592523",
      "name": "Update Job2",
      "credentials": {
        "supabaseApi": {
          "id": "EfCjgiZu4MblAWv2",
          "name": "CARIUSB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n   \"success\": true,\n   \"video_result_url\": \"https://media-gateway-cariusb.tahamertsen.workers.dev/{{ $json.key }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        336
      ],
      "id": "4aad228c-a603-48dd-ad2c-2d265c5776cf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "724b1271-5b23-45a3-81d2-b430bae23ec5",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        368
      ],
      "id": "5f76680b-e098-4a7e-b182-8a62d0b64e2d",
      "name": "Status Checker"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n   \"success\": true,\n   \"video_result_url\": \"https://media-gateway-cariusb.tahamertsen.workers.dev/video/36df758f-e7d4-4692-abdd-e5bdf82a4cac\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1328,
        -32
      ],
      "id": "99efb2bb-c3f2-4c20-a18e-5d89d6551ca1",
      "name": "Respond to Webhook1",
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "tahamertsen.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "369",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "5.176.58.164",
            "cf-ew-via": "15",
            "cf-ipcountry": "TR",
            "cf-ray": "9b898c0dc5da224e-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "5.176.58.164, 104.23.168.90",
            "x-forwarded-host": "tahamertsen.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-89-8567ddc79c-gsljl",
            "x-is-trusted": "yes",
            "x-real-ip": "5.176.58.164",
            "x-webhook-signature": "ve63ruC2M5km3Ne2m2kiQ0N5AyCvCyLd"
          },
          "params": {},
          "query": {},
          "body": {
            "source_image": "https://media-gateway-cariusb.tahamertsen.workers.dev/image/f92b1dc7-c8e4-4618-a598-353ad06955a6",
            "prompt": "weather are getting darker and cars lights open.",
            "duration": "5",
            "plan": "Draft",
            "metadata": {
              "job_id": "job_e27e12acc9ed",
              "user_id": "85f95205-e058-4936-9455-db3c72ea2c4d",
              "project_id": "cec388b0-074b-4b10-b1f6-447fdb283edd",
              "aspect_ratio": "16:9"
            }
          },
          "webhookUrl": "https://tahamertsen.app.n8n.cloud/webhook/video",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Request Parse": {
      "main": [
        [
          {
            "node": "Vision Scan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision Scan": {
      "main": [
        [
          {
            "node": "Prompt Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Engine": {
      "main": [
        [
          {
            "node": "Normalize Prompt Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Plan Router": {
      "main": [
        [
          {
            "node": "Job Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Submit": {
      "main": [
        [
          {
            "node": "Status Checker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Webhook Error Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Log Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Assemble Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Request Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Prompt Output": {
      "main": [
        [
          {
            "node": "Plan Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Result": {
      "main": [
        [
          {
            "node": "Cloudflare Put",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare Put": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Update Job2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Checker": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39aaf42b-da1e-4393-b839-2df1919e4dea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2fc6eabe08c8d1b9b05431928b1ad54f8d7edacf8161d7d4406f229c75dec1bc"
  },
  "id": "qf1UDlJhN2Nv6jvN",
  "tags": []
}