CARIUSB Community (6).json
{
  "name": "CARIUSB Community",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "community",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        288
      ],
      "id": "f7fec515-ace5-40ef-bb39-17f272c300ef",
      "name": "Webhook",
      "webhookId": "75f7273b-e303-4e22-bb08-dbab74185f0b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dAycGUTIuYNDZkmx",
          "name": "CARIUSB SECRET"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24d9f6d6-5ade-4ddc-ab1c-49eb71440a03",
              "name": "posted_image_url",
              "value": "={{ $json.body.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "7e3a1111-dc49-422b-92dd-ae7649c06728",
              "name": "user_id",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "a635ffad-027c-4a24-846e-463939bb33e9",
              "name": "post_id",
              "value": "={{ $json.user_id + $json.body.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "9103ddc0-0576-4306-a24a-173f8403a575",
              "name": "posted_time",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "d4ccb77c-9286-4a78-ac2d-648ffceb365a",
              "name": "tags",
              "value": "[\"car,cariusb\"]",
              "type": "array"
            },
            {
              "id": "db67d455-ace5-446b-aca8-89c79fec5e31",
              "name": "user_community_name",
              "value": "dominic_toretto",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        288
      ],
      "id": "5135a2bf-298a-4380-b97d-73a8236bcb38",
      "name": "Normalizer"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{  $('Normalizer').item.json.user_id }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{$('Normalizer').item.json.posted_image_url}}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{$('Normalizer').item.json.tags}}"
            },
            {
              "fieldId": "likes_count",
              "fieldValue": "0"
            },
            {
              "fieldId": "post_id",
              "fieldValue": "={{ $('Normalizer').item.json.post_id }}"
            },
            {
              "fieldId": "user_community_name",
              "fieldValue": "={{ $('Normalizer').item.json.user_community_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1664,
        112
      ],
      "id": "8b8f0e3b-7bb4-4162-90b1-045c6ae4c04c",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "EfCjgiZu4MblAWv2",
          "name": "CARIUSB"
        }
      }
    },
    {
      "parameters": {
        "content": "sadece araba ile ilgili olması için bir filtre ekle. ülke din vs yasak",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -96
      ],
      "typeVersion": 1,
      "id": "bbc23b42-acb9-46f7-9b46-9ab01ab148c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=You are a deterministic computer vision classification system.\n\nSTRICT RULES (NON-NEGOTIABLE):\n- You MUST return a single JSON object.\n- Do NOT use markdown.\n- Do NOT use code fences.\n- Do NOT add explanations, comments, or extra text.\n- Do NOT include null values.\n- Do NOT include additional keys.\n- Do NOT change key names.\n- Do NOT nest objects.\n- Do NOT interpret meaning or intent.\n- Do NOT make approval decisions.\n- If uncertain, choose the safest FALSE value.\n\nTASK:\nInspect the image visually and set the following flags based ONLY on what is clearly visible.\n\nFIELDS:\n- vehicle_visible (boolean): true ONLY if a car, truck, motorcycle, bus, or other road vehicle is clearly visible.\n- unsafe_content (boolean): true ONLY if explicit nudity, sexual content, graphic violence, self-harm, drugs, weapons, or extremist symbols are clearly visible.\n\nOUTPUT FORMAT (MUST MATCH EXACTLY):\n\n{\n  \"vehicle_visible\": false,\n  \"unsafe_content\": false\n}\n",
        "imageUrls": "={{ $('Normalizer').item.json.posted_image_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        640,
        160
      ],
      "id": "02c51776-485b-4486-997a-7cde3c47b319",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "KF4vi4KQZyDxUwo0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e51cc4b-5123-4169-a555-f872d1831d16",
              "leftValue": "={{ $json.approved }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        160
      ],
      "id": "a3c7626b-8fe8-4c2c-a65e-f3852dba3319",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"post_image_url\": \"{{ $json.image_url }}\",\n  \"user_id\": \"{{ $json.image_url }}\",\n  \"tags\": \"{{ $json.tags }}\",\n  \"post_id\": \"{{ $json.post_id }}\",\n  \"community_user_name\": \"{{ $json.user_community_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1888,
        288
      ],
      "id": "20214552-74ab-47e6-973a-f44d0eff0a91",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        384
      ],
      "id": "3005e928-b007-4481-bacd-8af0b8250ef1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KF4vi4KQZyDxUwo0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e51cc4b-5123-4169-a555-f872d1831d16",
              "leftValue": "={{$json.ok}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        288
      ],
      "id": "6b232ebc-1900-4b7a-ba1c-089e26d9522e",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Vision analysis:\nvehicle_visible: {{ JSON.parse($json['0'].content[0].text.replace(/```json|```/g, '')).vehicle_visible }}\n\nunsafe_content: {{ JSON.parse($json['0'].content[0].text.replace(/```json|```/g, '')).unsafe_content }}\n\n\nTags:\n{{ $('Normalizer').item.json.tags ?? \"no tags\"}}\n\nDecide whether this post should be approved.\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are the final gatekeeper for a car-only community feed.  Hard rules: - The post MUST be primarily about cars, vehicles, driving, or automotive culture. - If the image does not contain a car, reject. - If the image is marked unsafe, reject. - Politics, religion, nationality, ethnicity, ideology, or social topics are forbidden. - Ambiguous or unclear content must be rejected. - Be strict. When unsure, reject.  You make the final decision. Return ONLY valid JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        160
      ],
      "id": "7077327b-f01b-4a96-9026-562ba97e7cdf",
      "name": "gatekeeper"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e5c62a3-36e1-4543-8f1c-8f0f68e66911",
              "name": "approved",
              "value": "={{ JSON.parse($json.text).approved }}",
              "type": "boolean"
            },
            {
              "id": "72f2c2b6-621c-45f2-a74d-23e69f9c554a",
              "name": "reason",
              "value": "={{ $json.reason ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "1926448b-4479-47a5-ae14-e9252ec851b2",
              "name": "tags",
              "value": "={{ $('Normalizer').item.json.tags }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        160
      ],
      "id": "663b2d71-2691-4eb0-9b17-986f651f235e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e3975de-968c-46b5-b88c-95ca1787780b",
              "name": "error_message",
              "value": "={{ $json.retry_after_seconds }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        384
      ],
      "id": "cb43e23d-7119-43ca-ae5b-33dccca6bfaf",
      "name": "Error or Notpublished posts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zhfoygasvpjtsngebahn.supabase.co/rest/v1/rpc/check_rate_limit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_UhfuD3Z1PMkFLEZCl1R1Pg__vxd3wk9"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_UhfuD3Z1PMkFLEZCl1R1Pg__vxd3wk9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_key\":\"{{ $json.user_id + \"_\" + $json.post_id}}\",\n  \"p_limit\":2,\n  \"p_window_seconds\":1}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        288
      ],
      "id": "99cafbef-80f4-42d2-bcb8-60d7350130a2",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "tahamertsen.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "325",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "authorization": "ve63ruC2M5km3Ne2m2kiQ0N5AyCvCyLd",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "176.220.254.67",
            "cf-ew-via": "15",
            "cf-ipcountry": "TR",
            "cf-ray": "9b51d7b58257b151-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "176.220.254.67, 104.23.172.59",
            "x-forwarded-host": "tahamertsen.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-89-8567ddc79c-fh6gl",
            "x-is-trusted": "yes",
            "x-real-ip": "176.220.254.67",
            "x-webhook-signature": "ve63ruC2M5km3Ne2m2kiQ0N5AyCvCyLd"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "community.post.shared",
            "timestamp": "2025-12-28T14:45:37.148Z",
            "projectId": "HY9aHHTGKiGf",
            "projectName": "golf8 r",
            "thumbnailUrl": "https://media-gateway-cariusb.tahamertsen.workers.dev/image/6c6e85dc-72f5-4846-990c-bff9d8f32aac",
            "userId": "85f95205-e058-4936-9455-db3c72ea2c4d",
            "userEmail": "sosyalmedyataha@gmail.com"
          },
          "webhookUrl": "https://tahamertsen.app.n8n.cloud/webhook/community",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizer": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error or Notpublished posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "gatekeeper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error or Notpublished posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gatekeeper": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error or Notpublished posts": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6bba046a-573f-4d6f-a981-3aadaa1090cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2fc6eabe08c8d1b9b05431928b1ad54f8d7edacf8161d7d4406f229c75dec1bc"
  },
  "id": "HCcXREK4G8hk8WLx",
  "tags": []
}